$whit-background: #fff;
$color-text: #495057;
$border-input: #ced4da;
$placeholder-color: rgba(0, 0, 0, 0.54);
$error-color: rgb(244, 67, 54);
$focus-blue: rgb(63, 81, 181);
$main-blue: rgb(63, 81, 181);
$active-color: #29316b;
$default-background-checkbox: #deeff7;
$md-radio-border-color: rgba(0, 0, 0, 0.54);
