<div class="main-wrap"
     appClickOutSide
     (clickOutside)="close()"
     [class.disabled]="disabled"
     [id]="id"
  >
  <div class="select__placeholder"
       (click)="open()"
       [hidden]="showSearchable"
  >
  <span >
    <span *ngIf="customPlaceholder || value">{{placeholder}}</span>
  </span>

    <span class="select__icon"
    >
    <svg class="select-icon_svg"
         [class.select-open]="isOpen"
         version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="10px" height="10px" viewBox="0 0 404.308 404.309" style="enable-background:new 0 0 404.308 404.309;"
      xml:space="preserve">
      <g>
        <path d="M0,101.08h404.308L202.151,303.229L0,101.08z"/>
      </g>
    </svg>
  </span>
  </div>
  <div class="select__search-wrap" *ngIf="showSearchable">
    <input appFocus [placeholder]="searchPlaceholder" class="select-search" type="text" [formControl]="dropDownSearch">
  </div>


  <div class="select__list" [hidden]="!isOpen">
    <div class="select__list-items">
      <ng-content select="app-select-group"></ng-content>
      <ng-content select="app-select-option"></ng-content>
      <app-select-option [emmitable]="false" *ngIf="notFound">Nothing Found</app-select-option>
    </div>
  </div>

</div>

