:host {
  display: block;
  height: 100%;
}
app-tabs {
  display: block;
  height: 100%;
}

.tabs {

  &-header {
    display: flex;
    height: 100%;
  }
}

app-tab {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}
