<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<br>
<br>

<div style="width: 100%;">
  <div class="wrap-header">
    <app-tabs (toggleTab)="setActiveTab($event)">
      <app-tab [label]="'first'" ></app-tab>
      <app-tab [label]="'two'" [activeTab]="true"></app-tab>
      <app-tab [label]="'three'"></app-tab>
    </app-tabs>

    <div style="width: 250px;">
      <app-search></app-search>
    </div>
  </div>

  <div class="tab-content">
    <app-tab-content [class.active]="'first' === activeTab">
      first content
    </app-tab-content>
    <app-tab-content [class.active]="'two' === activeTab">
      two content
    </app-tab-content>
    <app-tab-content [class.active]="'three' === activeTab">
      three content
    </app-tab-content>
  </div>
</div>

<div class="menu" style="margin: 50px auto;">
  <app-settings-menu>
    <app-settings-menu-item>
      Edit
    </app-settings-menu-item>
    <app-settings-menu-item>
      Manage Roster
    </app-settings-menu-item>
    <app-settings-menu-item>
      Delete Team
    </app-settings-menu-item>
  </app-settings-menu>
</div>
<div class="menu" style="margin: 50px auto;">
  <app-settings-menu [positionHorizontal]="false">
    <app-settings-menu-item>
      Edit
    </app-settings-menu-item>
    <app-settings-menu-item>
      Delete
    </app-settings-menu-item>
  </app-settings-menu>
</div>


